<style>
*{outline: none;}
*:focus{outline: none;}

:root
{
    --blue:#6cc3c8;
    --orange:#ee8723;
    --green:#cac93e;
    --darkgrey:#676767;
    --grey:#a9a9a9;
    --lightgrey:#f2f2f2;
}

body
{
	font-size: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

*{
	font-family:arial;
	color:var(--darkgrey);
}

*::selection
{
	background-color:var(--blue);
}

.container-bottom
{
	padding-bottom:67px;
	overflow-x: hidden;
}

.container-top
{
	margin-top:120px;
	overflow-x: hidden;
}

/* BUTTONS */
.ibtn, .ibtn-add
{
	display:inline-block;
	background-repeat:no-repeat;
	background-size:contain;
	width:2em;
	height:2em;
	vertical-align:middle;
	transition:background-size .15s ease-in-out;
}

.ibtn:active
{
	/* position:relative;
	right:-3px; */
	background-size:85%;
	background-position:center;
}

.btn-back
{
	background-image:url('https://idiversity.cc/appli/boutons/retour.svg');
}

.btn-infor
{
	background-image:url('https://idiversity.cc/appli/boutons/information.svg');
}

.btn-menu
{
	background-image:url('https://idiversity.cc/appli/boutons/menu.svg');
}

.btn-help
{
	background-image:url('https://idiversity.cc/appli/boutons/question.svg');
}

.btn-edit
{
	background-image:url('https://idiversity.cc/appli/boutons/ecrire.svg');
}

.btn-rotate
{
	background-image:url('https://idiversity.cc/appli/boutons/bascule.svg');
}

.btn-close
{
	background-image:url('https://idiversity.cc/appli/boutons/fermer.svg');
}

.btn-add
{
	background-image:url('https://idiversity.cc/appli/boutons/plus.svg');
}

.btn-add-grey
{
	background-image:url('https://idiversity.cc/appli/boutons/plus_gris.svg');
}

.btn-refresh
{
	background-image:url('https://idiversity.cc/appli/boutons/rafraichir.svg');
}

.btn-play
{
	background-image:url('https://idiversity.cc/appli/boutons/play.svg');
}

.btn-replay
{
	background-image:url('https://idiversity.cc/appli/boutons/rejouer.svg');
}

.btn-next
{
	background-image:url('https://idiversity.cc/appli/boutons/suivant.svg');
}

.btn-pause
{
	background-image:url('https://idiversity.cc/appli/boutons/pause.svg');
}

.btn-validate
{
	background-image:url('https://idiversity.cc/appli/boutons/valider.svg');
}

.ibtn-orange
{
	background-color:#ee8723;
}

.ibtn-blue
{
	background-color:#6cc3c8;
}

.ibtn-grey
{
	background-color:var(--grey);
}

.ibtn-green
{
	background-color:var(--green);
}

input[type="submit"]
{
	border:none;
	background-color: white;
}

/*LOGOS TITLE*/
.title-competence
{
	display:inline-block;
	vertical-align:middle;
	height:50px;
	line-height:50px;
	padding:0;
	margin:0;
	font-size:20px;
	padding-left:60px;
	margin-left:10px;
	background-repeat:no-repeat;
}

.title-secouter
{
	background-image:url('https://idiversity.cc/appli/logo_intelligences/intrapersonnelle.svg');
}

.title-green-smiley
{
	background-image:url('https://idiversity.cc/appli/visuels_integres/smiley_positif.svg');
}

/*HEADER*/
header
{
	min-height:4em;
	background: white;
	position: -webkit-sticky;
	position:sticky;
	top:0;
	width:100%;
	z-index:9;
}

nav
{
	/* position: absolute; */
	padding-left:1em;
	padding-top:1em;
	display:inline-block;
	text-align:left;
	vertical-align: top;
	background:white;
}

nav#nav-right
{
	right:1em;
	position:absolute;
	background:white;
}

/* FOOTER */
footer
{
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
	padding:16px;
	min-width:100%;
	background-color:white;
}

footer .ibtn + .ibtn
{
	margin-left:60px;
}

.border-down
{
	border-bottom:1px solid var(--darkgrey);
	padding:20px 5px;
}

.border-up-down
{
	/* border-top:1px solid var(--darkgrey); */
	border-bottom:1px solid var(--darkgrey);
	padding:20px 5px;
}

.border-up-down+.border-up-down
{
	border-top:none;
}

a.border-up-down
{
	color:var(--darkgrey);
	background-image:url('https://idiversity.cc/appli/boutons/lancer.svg');
	background-repeat:no-repeat;
	background-position:center right 20px;
	background-size:18px;
	padding-right: 50px;
}

a.border-up-down:hover
{
	text-decoration:none;
}

a.border-up-down[href="#"]
{
	color:var(--grey);
	background-color:rgba(255,255,255,.25);
}

p
{
	padding:0;
	margin:0;
	text-align:left;
}

p+p
{
	margin-top:16px;
}

a.big-ibtn
{
	color:white !important;
	padding: 0;
	text-align:center;
	height:3em;
	line-height:3em;
	border-radius:1.5em;
	margin:5px;
	transition:padding-left .15s ease-in-out;
}

a.big-ibtn:hover
{
	color:white;
	text-decoration:none;
}

a.big-ibtn:active
{
	padding-left:7px;
}

.iform
{
	width:100%;
	padding:0;
}

.iform li
{
	font-size:2em;
	color:var(--green);
	line-height:.5em;
	margin:0;
}

.iform li + li
{
	margin-top:8px;
}

.iform input[type="text"]
{
	font-size:.5em;
	vertical-align:middle;
	width:100%;
	height:2em;
	background-color:var(--grey);
	border:none;
	border-radius:2em;
	padding:0 15px;
	outline: none;
	transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.iform input[type="text"]:focus
{
	background-color:var(--lightgrey);
	border:1px solid var(--blue);
	outline: none;
}

.btn-add, .popup, .btn-add-grey
{
	width:100%;
	background-size:contain;
	background-position:center;
}

.iform + a
{
	width:100%;
}

.fond-popup
{
	display:none;
	top:0;
	background-color:white;
	position:absolute;
	width:100%;
	min-height:100%;
	z-index:100;
}

.close-popup
{
	display:block;
	margin:0;
	padding:0;
	background:no-repeat url('https://idiversity.cc/appli/boutons/fermer.svg');
	width:2em;
	height:2em;
	position:absolute;
	top:1em;
	right:1em;
	border-radius:50%;
	z-index: 1500;
}

.popup
{
	padding:2em 0;
	width:80%;
	margin:auto;
	background-color:white;
	text-align: left;
}

.actions-popup
{
	text-align:center;
}

.actions-popup a
{
	margin:16px;
}

.choice-emotion
{
	padding:0;
}

.choice-emotion li
{
	list-style:none;
	margin:8px;
}

.choice-emotion a
{
	display:inline-block;
	width:100%;
	height:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:30px;
}

.choosen-emotion
{
	background-color:var(--green);
	color:white;
}

.emotion-to-choose
{
	background-color:var(--grey);
	color:var(--darkgrey);
}

.form-group label
{
	font-weight:bold;
	color:var(--green);
	text-indent:.5em;
	margin-top:.5em;
}

.form-control {
  color: var(--darkgrey);
  background-color:var(--lightgrey);
  border: 0;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: 0;
  background-color:var(--lightgrey);
  box-shadow: 0 0 0 0.2rem var(--blue);
}

.height-login{
	height: 100vh;
}


</style>
