<style>

.rebound
{
	animation: .5s rebounding 1;
}

@keyframes rebounding {
	0%{transform: translateY(0);}
	25%{transform: translateY(+7%);}
	50%{transform: translateY(0);}
	75%{transform: translateY(+3%);}
	100%{transform: translateY(0);}
}

.wizz
{
	animation: .2s wizzing 1;
}

@keyframes wizzing {
	0%{transform: translateX(0);}
	17%{transform: translateX(5%);}
	34%{transform: translateX(-5%);}
	50%{transform: translateX(0);}
	67%{transform: translateX(2%);}
	84%{transform: translateX(-2%);}
	100%{transform: translateX(0);}
}

.essai-title {
	font-size: 1.5em;
}

.cpt-pts {
	font-size: 1.4em;
}

.input-color {
	font-size: 1.8em;
	line-height: 195px;
}

.div-round {
	/* padding: 1.5em; */
	height: 200px;
	width: 200px;

	border-radius: 100px;
}

.color-blanc {
	color: white;
}

.color-rouge {
	color: red;
}

.color-vert {
	color: green;
}

.color-bleu {
	color: blue;
}

.color-violet {
	color: purple;
}

.color-marron {
	color: #873600;
}

.color-jaune {
	color: yellow;
}

.color-noir {
	color: black;
}

.background-rouge {
	background: red;
}

.background-vert {
	background: green;
}

.background-bleu {
	background: blue;
}

.background-violet {
	background: purple;
}

.background-marron {
	background: #873600;
}

.background-jaune {
	background: yellow;
}

.background-noir {
	background: black;
}

body {
	overflow-x: hidden;
}

.hide {
	display: none;
}

.btn-back:hover {
	cursor: pointer;
}

.bred {
	border: 1px solid red;
}

.inline-block {
	display: inline-block;
}

.bgd-6 {
	height: 6em;
	width: 6em;
}

.bgd-smiley_positif
{
	background-image:url('https://idiversity.cc/appli/visuels_integres/smiley_positif.svg');
}

.parent {
	position: relative;
	border: 1px solid white;
}

.vertical-25 {
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
}

.vertical-50 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.vertical-65 {
	position: absolute;
	top: 65%;
	transform: translateY(-50%);
}

.vertical-75 {
	position: absolute;
	top: 75%;
	transform: translateY(-50%);
}

</style>
