<style>
.hide
{
	display: none;
}

.type-emotion
{
	padding:0;
	margin-top:16px;
}

.type-emotion li
{
	height:3em;
	/* line-height:3em; */
	padding-left:5em;
	list-style:none;
	background-repeat: no-repeat;
	background-position: left 50%;
}

.type-nose
{
	background-image: url('https://idiversity.cc/appli/visuels_integres/image_parcours_odeur.svg');
}

.type-eye
{
	background-image: url('https://idiversity.cc/appli/visuels_integres/image_parcours_endroit.svg');
}

.type-music
{
	background-image: url('https://idiversity.cc/appli/visuels_integres/image_parcours_musique.svg');
}

.type-book
{
	background-image: url('https://idiversity.cc/appli/visuels_integres/image_parcours_bouquin.svg');
}

.mosaic
{
	margin:auto;
	margin-top:16px;
	width:90%;
	overflow: hidden;
	position: relative;
}

#inner-carousel
{
	position:relative;
	width:500%;
	margin:0;
	padding:0;
	left:0%;
	/* animation: 15s slidy infinite; */
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.tile-type-emo
{
	width:20%;
	float:left;
	height:auto;
	text-align:center;
}

.tile-type-emo img
{
	height:150px;
}

.tile-type-emo figcaption
{
	font-size:.8em;
}

.active-bullet
{
	color:var(--green);
}

/* .mosaic
{
	text-align: center;
	margin-top: 20px;
}

figure.tile-type-emo img
{
	height: 70px;
}


figure.tile-type-emo
{
	background-color:var(--lightgrey);
	display:inline-block;
	width:48%;
	margin:2px;
	padding:2px;
} */

.choice-emotion
{
	text-align: center;
}

.choice-emotion input[type='checkbox']
{
	display: none;
}

.choice-emotion label
{
	display:inline-block;
	width:80%;
	margin:auto;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:30px;
	background-color:var(--lightgrey);
	color:var(--darkgrey);
	margin:8px;
  transition: width 0.05s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.choice-emotion input:checked + label
{
	background-color:var(--green);
	color:white;
	width:90%;
}

.content
{
	padding:0 20px;
	box-sizing: border-box;
	margin-bottom:75px;
}

.xp-date
{
	vertical-align: middle;
}

#edit-mode
{
	display:none;
}

* {	box-sizing: border-box;}

input[type="text"], input[type="date"], input[type="password"], textarea
{
	background-color:var(--lightgrey);
	height:2em;
	border-radius:1em;
	border:1px solid var(--grey);
	padding:0 .75em;
	width:100%;
	transition:border-color ease-in-out .25s, background-color ease-in-out .25s;
}

textarea
{
	margin:.2em 0;
	height:8em;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, textarea:focus
{
	border:1px solid var(--blue);
	background:white;
}

.view-emo
{
	font-size:5em;
}

.view-emo li
{
	color:var(--green) !important;
	font-size:.2em;
}

.view-emo li:first-line
{
	color:var(--darkgrey) !important;
}

.green-smiley
{
	background:4em center /3.2em no-repeat url('https://idiversity.cc/appli/visuels_integres/smiley_positif.svg');
}

.title.green-smiley
{
	/* margin-top:2.3em; */
}

.title.green-smiley h2
{
	font-size:23px;
	padding-left:3em;
	min-height:5em;
}

.title
{
	text-align:center;
	margin:-.2em 0 1em 0;
}

.title h2
{
	font-size:1.2rem;
	display: inline-block;
}

.title img
{
	width:4em;
	display: inline;
}

.img-end
{
	width:6em;
	padding-bottom:1em;
}

.rm-emo
{
	background-repeat:no-repeat;
	background-size:1em;
	background-position: center;
}

#view-psd, #view-psd-blue
{
	position:absolute;
	right:1.5em;
	top:50%;
	transform: translateY(-50%);
	width:1em;
	height:1em;
}

#view-psd
{
	background: 50% no-repeat url('https://idiversity.cc/appli/boutons/oeil.svg');
}

#view-psd-blue
{
	background: 50% no-repeat url('https://idiversity.cc/appli/boutons/oeil_bleu.svg');
}

.btn-mosaic-next
{
	position: absolute;
	display: block;
	right:0;
	top:50%;
	transform: translateY(-50%);
	background: center right no-repeat url('https://idiversity.cc/appli/boutons//lancer.svg'), linear-gradient(-90deg,rgba(255,255,255,1),rgba(255,255,255,0));
	height:1em;
	height:100%;
	width:1em;
}

.btn-mosaic-previous
{
	position: absolute;
	display: block;
	left:0;
	top:50%;
	transform: translateY(-50%) rotate(.5turn);
	background: center right no-repeat url('https://idiversity.cc/appli/boutons/lancer.svg'), linear-gradient(-90deg,rgba(255,255,255,1),rgba(255,255,255,0));
	height:100%;
	width:1em;
}

.img-step
{
	margin-top:20px;
}

.blink
{
	animation: 3.5s blinking infinite;
	position: relative;
}

@keyframes blinking {
	0%{transform: rotate(0);}
	45%{transform: rotate(95deg);}
	50%{transform: rotate(86deg);}
	53%{transform: rotate(93deg);}
	55%{transform: rotate(90deg);}
	75%{transform: rotate(90deg);}
}

.viewed-vid
{
	color:var(--grey) !important;
	background-image: url('https://www.idiversity.cc/appli/boutons/rejouer.svg') !important;
}

.preview_vid
{
	display: inline-block;
	max-width:3em;
	margin-right:.7em;
}

.abscentered
{top: 50%;position: absolute;left: 50%;transform: translateX(-50%) translateY(-50%);}

.pres_fond_color
{
	display: inline-block;
	height:3.5em;
	width:3.5em;
	line-height:3.5em;
	border-radius:3em;
	text-align:center;
	font-size:.8em;
}

#countdown
{
	animation : 1s dezoom 4;
}

@keyframes dezoom {
	0%{font-size: 3em;}
	100%{font-size: 1em;}
}

.pause *
{
	list-style: none;
	padding:0;
	font-size:1.1em;
}

.pause h2
{
	text-align:center;
	margin-bottom:2em;
	font-size:1.2em;
}

.pause h2::first-letter
{
	font-size:1.3em;
}

.pause li + li
{
	margin-top:2em;
}

.little-btn
{
	width:1em;
	height:1em;
	vertical-align: middle;
}

.little-btn + a
{
	margin-left:.5em;
	vertical-align: middle;
	color:var(--darkgrey);
}
.little-btn + a:hover {text-decoration:none;}

</style>
