<style>
.side {

  height: auto;
  width: 40%;
  float: right;
}

.description-area{
  /* height: 8em; */
}
.bck-no-rep{
  background-repeat: no-repeat;
}
.bgd-4 {
	height: 4em;
	width: 4em;
}
.bgd-2 {
	height: 2em;
	width: 2em;
}

.bgd-3 {
	height: 3em;
	width: 3em;
}

.heightLogin{
	height: 100vh !important;
}

/* .formCross {
	width:100%;
	padding:0;
	font-size:2em;
	color:var(--green);
	line-height:.5em;
	margin:0;
}

.formCross input[type="text"]
{
	font-size:.5em;
	vertical-align:middle;
	width:100%;
	height:2em;
	background-color:var(--grey);
	border:none;
	border-radius:2em;
	padding:0 15px;
	outline: none;
	transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.formCross input[type="text"]:focus
{
	background-color:var(--lightgrey);
	border:1px solid var(--blue);
	outline: none;
}


.formCross + a
{
	width:100%;
	vertical-align: middle;
} */

.btn-close{
	background-image:url('https://idiversity.cc/appli/boutons/fermer.svg');
}

.rm-content {
	/* width: 3vh;
	height: 3vh; */
	vertical-align: middle;
}

.alignCross{vertical-align: middle;}

.fade-in {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

.fade-out {
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;

	}
	100% {
		opacity: 0;
	}
}

.spin {
	animation-name: spinRotate;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}

@keyframes spinRotate {
	0% {
		transform: rotate(0deg);

	}
	100% {
		transform: rotate(360deg);
	}
}

.input-min-height-95p
{
	min-height: 4vh;
}

.btn-dwnl
{
	background-image: url('https://idiversity.cc/icones/download.svg');
}

.logo-IDiversity
{
	height: 3em;
	width: auto;
}

.font-label
{
	font-weight:bold;
	color:var(--green);
	padding:0 0 0 15px !important;
	text-align:left;
	/* text-indent:.5em; */
	/* margin-top:.5em; */
}
.font-title
{
	font-weight:bold;
	color:var(--green);
	font-size: 1em;
	/* text-indent:.5em; */
	/* margin-top:.5em; */
}

.listAdj
{
	font-size:.5em;
	vertical-align:middle;
	width:100%;
	height:2em;
	padding:0 15px;
}

.invalid-form {
	border-color: #FF0000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.overflow{
	overflow-x: hidden;
	overflow-y: auto;
}
.moreless{
	font-style: italic;
	text-decoration: underline;
	color: #cac93e;

}

</style>
