{% extends 'front/base.html.twig' %}

{% block body %}
  <header>
    <nav>
		<a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute_autre'></a>
    </nav>
  </header>
	<section class="content">
		<div class="row justify-content-center" style="font-size:.8em;">
			{% for vid in vids %}
				{% if vid.viewed %}
					<a class="col col-10 border-up-down video viewed-vid" href="{{ path("blind_test_1_2") }}?vid={{vid.media_id}}">
						<img class="preview_vid" src="https://img.youtube.com/vi/{{vid.id_yt}}/0.jpg" alt="Voir la vidéo">{{ vid.name }}
					</a>
				{% else %}
					<a class="col col-10 border-up-down video unviewed-vid" href="{{ path("blind_test_1_2") }}?vid={{vid.media_id}}">
						<img class="preview_vid" src="https://img.youtube.com/vi/{{vid.id_yt}}/0.jpg" alt="Voir la vidéo">{{ vid.name }}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</section>
	<footer>
		<a href="{{ path("skillList")}}" title="Menu" class="ibtn btn-menu"></a>
	</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
