{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav id="nav-right">
		{# <a title="Aide" class="ibtn btn-help" href="{{ path("parcours_3")}}"></a> #}
		{# <a title="Aide" class="ibtn btn-help" onclick="popUpHelp();"></a> #}
	</nav>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		<div class="vertical-50 col col-10 text-center">
			<img src="https://idiversity.cc/appli/visuels_integres/visuel_video.svg" alt="Smiley vert" class="img-step"/>
			<div class="border-up-down">
				<p>Pour commencer, choisi une vidéo dans la liste qui te sera présentée ci-après.</p>
				<p>Il s'agira ensuite de trouver la situation qui correspond à l'extrait visionné.</p>
			</div>
		</div>
	</div>
</section>
<footer>
	<a title="Suivant" class="ibtn btn-next" href="{{ path("blind_test_1_1")}}"></a>
</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
