{% extends 'front/base.html.twig' %}

{% block body %}
  <header>
    <nav>
		<a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a>
    </nav>
  </header>
	<section class="content">
		<div class="row justify-content-center">
			<img src="https://idiversity.cc/appli/visuels_integres/smiley_ronchon.svg" alt="Smiley moue" class="img-end"/>
			<div class="col col-10 border-down">
				<p>La vidéo demandée n'est pas disponible...</p>
			</div>
		</div>
	</section>
	<footer>
	</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
