{% extends 'front/base.html.twig' %}

{% block body %}
  <header>
    <nav>
		<a title="Retour" class="ibtn btn-back" href='{{ path("blind_test_1_2") }}?vid={{ media_id }}'></a>
    </nav>
  </header>
	<section class="content">
		<div class="row justify-content-center">
			{% for ans in listAns %}
				<a class="col col-10 ibtn-grey big-ibtn mt-5 mb-2" onclick="newAns(this);" title="{{ ans }}">{{ ans }}</a>
			{% endfor %}
		</div>
	</section>
	<footer>
	</footer>
	<div class="fond-popup" id="goodAns">
		<div class="popup" style="top: 50%;position: absolute;left: 50%;transform: translateX(-50%) translateY(-50%);">
			<div class="msg-popup border-down">
				<div class="row justify-content-center">
					<a class="col col-10 ibtn-green big-ibtn mt-5 mb-2" id="cellGoodAdj"></a>
					<img src="https://idiversity.cc/appli/visuels_integres/smiley_positif.svg" alt="Smiley vert" class="img-end"/>
				</div>
				<p>Super, tu as trouvé la bonne réponse !</p>
			</div>
			<div class="actions-popup">
				<a  href="{{ path("blind_test_1_1") }}" title="Valider" class="ibtn btn-next"></a>
			</div>
		</div>
	</div>
	<div class="fond-popup" id="wrongAns">
		<a onclick="$('#wrongAns').hide('fast')" class="close-popup"></a>
		<div class="popup" style="top: 50%;position: absolute;left: 50%;transform: translateX(-50%) translateY(-50%);">
			<div class="msg-popup border-down">
				<div class="row justify-content-center">
					<a class="col col-10 ibtn-orange big-ibtn mt-5 mb-2" id="cellWrongAdj"></a>
					<img src="https://idiversity.cc/appli/visuels_integres/smiley_ronchon.svg" alt="Smiley vert" class="img-end"/>
				</div>
				<p>Malheureusement, ce n'est pas la bonne réponse...</p>
				<p>Retente ta chance !</p>
			</div>
			<div class="actions-popup">
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
	var brut = "{{ listAns|json_encode() }}";
	var inter = brut.replace(/\s?\n?&quot;/g,'"');
	var props = JSON.parse(inter);

	var goodAns = "{{ goodAns }}";

	var choosenAns = [];

	var mediaID = "{{ media_id }}";

  	function newAns(cell)
	{
		var title = cell.title;
		$('#cellWrongAdj').html(title);
		$('#cellGoodAdj').html(title);
		choosenAns.push(title);
		if(title == goodAns)
		{
			$.ajax({
				url: "{{ path('validateBT')}}",
				data : {mediaID,props,goodAns,choosenAns},
				dataType : 'HTML',
				method: "POST",
				beforeSend: function( xhr ) {
					xhr.overrideMimeType( "text/plain; charset=UTF-8" );
				},
			})
			.done(function(data) {})
			.fail(function(xhr, textStatus, errorThrown) {
				console.log(xhr.responseText);
			});
			$('#goodAns').show('fast');
		}
		else
		{
			$('#wrongAns').show('fast');
		}
	}
  </script>
{% endblock %}
