{% extends 'front/base.html.twig' %}

{% block body %}
  <header>
  	<nav id="nav-right">
		<div class="ibtn btn-rotate blink"></div>
	</nav>
    <nav>
		<a title="Retour" class="ibtn btn-back" href='{{ path("blind_test_1_1") }}'></a>
    </nav>
  </header>
	<section class="content">
		<div class="row justify-content-center">
		{# <iframe width="560" height="315" src="https://www.youtube.com/embed/utMBLq2ne_o?start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ vid_id_yt }}?start={{ start_tps }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<p class="border-down">{{ media_name }}</p>
		</div>
	</section>
	<footer>
		<a class="ibtn btn-next" href="{{ path("blind_test_1_3")}}?vid={{media_id}}"></a>
	</footer>
	<div class="fond-popup">
	<a onclick="" class="close-popup"></a>
		<div class="popup" style="top: 50%;position: absolute;left: 50%;transform: translateX(-50%) translateY(-50%);">
			<div class="msg-popup border-down">
				<p>Une fois que tu as lu l'extrait vidéo, essaie de trouver à quelle situation correspond cet extrait.</p>
			</div>
			<div class="actions-popup">
				<a  onclick="" title="Valider" class="ibtn btn-validate"></a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
