{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a> -->
	</nav>
</header>
<section class="content">
	<div class="abscentered">
		<div class="row justify-content-center">
			<img src="https://idiversity.cc/appli/visuels_integres/smiley_positif.svg" alt="Smiley vert" class="img-end"/>
		</div>
		<div class="row justify-content-center border-down">
			<p>BRAVO !</p>
			<p>Tu as gagné <strong>1</strong> clé et <strong>1</strong> neuronne IDiversity !</p>
		</div>
	</div>
</section>
<footer>
		<a href="{{ path("skillList")}}" title="Menu" class="ibtn btn-menu"></a>
</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
