{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a> -->
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		<div class="col col-10 border-up-down">
			<p>Valide quand le mot écrit dans le rond correspond à la couleur du rond.</p>
		</div>
		<div class="col col-10 mt-3">
			<p class="mb-2">Exemples :</p>
			<div class="row justify-content-center">
				<p class="col col-7 mb-3">
					<span class="pres_fond_color background-rouge color-blanc">Rouge</span> = <a class="ibtn btn-validate"></a>
				</p>
				<p class="col col-7">
					<span class="pres_fond_color background-vert color-blanc">Rouge</span> = <a class="ibtn btn-close"></a>
				</p>
			</div>
		</div>
	</div>
</section>
<footer>
		<a href="{{ path("color_1_3")}}" title="Suivant" class="ibtn btn-next"></a>
</footer>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	</script>
{% endblock %}
