{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a> -->
	</nav>
</header>
<section class="content">
  <div class="row justify-content-center">
	  <div class="col col-10 border-up-down">
		<p class="mt-1 mb-2">{{'Welcome in this new experimentation.'|trans}}</p>
		<p class="mt-2 mb-1">{{'What do you want ?'|trans}}</p>
	  </div>

		<a class="col col-10 ibtn-orange big-ibtn mt-5 mb-2"  href="{{ path("color_1_1") }}">
		  {{'New experience'|trans}}
		</a>
		<!-- <a class="col col-10 ibtn-blue big-ibtn mt-2 mb-5" href="{{ path("color_1_7") }}">
		  {{'Show an experience'|trans}}
		</a> -->
  </div>
</section>
<footer>
		<a href="{{ path("skillList")}}" title="Menu" class="ibtn btn-menu"></a>
</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
