{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a> -->
	</nav>
</header>
<section class="content">
  <div class="row justify-content-center">
		<div class="col col-10 abscentered">
			<p>Joue avec ton cerveau</p>
			<p class="text-right">Perception - Réalité</p>
		</div>
  </div>
</section>
<footer>
		<a href="{{ path("color_1_2")}}" title="Menu" class="ibtn btn-next"></a>
</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
