{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a> -->
	</nav>
</header>
<section class="content">
  <div class="row justify-content-center">
	  <div class="col col-10 vertical-25">
  	  	<p class="text-center"><span id="countdown"></span></p>
	  </div>
	  <div class="col col-10 border-up-down abscentered">
		<p>C'est parti, amuse-toi !</p>
	  </div>
  </div>
</section>
<footer>
		<a href="{{ path("skillList")}}" title="Menu" class="ibtn btn-menu"></a>
</footer>
{% endblock %}

{% block javascripts %}
  <script>
  	var tps = 3;
  	var timing = setInterval("count()",1000);
	function count() {
		if(tps>0)
		{
			document.getElementById("countdown").innerHTML = tps;
			tps--;
		}
		else
		{
			url_redirect({url: '{{ path("color_1_5") }}',
				method: "GET"
			});
		}
	}
  </script>
{% endblock %}
