{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("listKit") }}?skill=ecoute'></a> -->
	</nav>
</header>
<section class="content">
	<div class=" row justify-content-center">
		{% for experience in experiences %}
	  		<div class="col col-10 border-up-down">
				<div class="row justify-content-center">
					<div class="col-4">
						Date here
					</div>
					<div class="col-4">
						10
						<div class="ibtn btn-validate"></div>
					</div>
					<div class="col-4">
						3
						<div class="ibtn btn-close"></div>
					</div>
				</div>
	  		</div>
		{% endfor %}
	</div>
</section>
<footer>
		<!-- <a href="{{ path("skillList")}}" title="Menu" class="ibtn btn-menu"></a> -->
</footer>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
