{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
	</nav>
	<nav id="nav-right">
		<a class="ibtn btn-pause" title='Pause' onclick="CMD.popUpPause()"></a>
	</nav>
</header>
<section class="content vertical-25 w-100 text-center essai-title">
	Essai <span id="essai_number">1</span>/3
</section>
<section class="content vertical-50 w-100 text-center">
	<div class="mb-4 cpt-pts w-100 text-right hide">
		<span id="cpt-pts"></span> pts
	</div>
	<div id="background_color" class="inline-block div-round">
		<div id="text_color" class="input-color">
		</div>
	</div>
</section>
<footer>
	<div onclick="GAME.controlEssai('no')" title="Faux" class="ibtn btn-close"></div>
	<div onclick="GAME.controlEssai('yes')" title="Vrai" class="ibtn btn-validate"></div>
</footer>
<div class="fond-popup" id="popupPause">
	<div class="popup abscentered">
		<div class="msg-popup">
			<div class="row justify-content-center">
				<nav class="pause">
					<h2>PAUSE</h2>
					<ul>
						<li><a href="{{ path('color_1_2') }}" class="ibtn btn-help little-btn"></a><a href="{{ path('color_1_2') }}">Comment jouer ?</a></li>
						<li><a onclick="CMD.popDownPause()" class="ibtn btn-play little-btn"></a><a onclick="CMD.popDownPause()">Reprendre</a></li>
						{# <li>Désactiver le son</li>
						<li>Désactiver la musique</li> #}
						<li><a href="{{ path('color_1_3') }}" class="ibtn btn-replay little-btn"></a><a href="{{ path('color_1_3') }}">Recommencer</a></li>
						<li><a href="{{ path("listKit") }}?skill=mini_jeux" class="ibtn btn-menu little-btn"></a><a href="{{ path("listKit") }}?skill=mini_jeux">Menu</a></li>
					</ul>
				</nav>
			</div>
		</div>
		{# <div class="actions-popup">
			<a  href="{{ path("blind_test_1_1") }}" title="Valider" class="ibtn btn-next"></a>
		</div> #}
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		{% include 'assets/js/minigame/color.js' %}
		{% include 'assets/js/minigame/chrono.js' %}
		GAME.runEssai();
		// CHRONO.startChrono();
		var CMD = {
			popUpPause:function(){
				$('#popupPause').show('fast');
				// CHRONO.pauseChrono();
			},
			popDownPause:function(){
				$('#popupPause').hide('fast');
				// CHRONO.resumeChrono();
			}
		};
	</script>
{% endblock %}
