{% extends 'front/base.html.twig' %}

{% block body %}
	<header>
		<nav>
			<a href="#" title="Retour" class="ibtn btn-back" onClick="history.back()"></a><!--
			--><h2 class="title-competence title-secouter">S'écouter</h2>
		</nav>
	</header>
	<div class="row justify-content-center">
		<a class="col col-10 border-up-down" href="#blablabla">
			Kit Parcours
		</a>
		<a class="col col-10 border-up-down" href="#">
			Untitled kit
		</a>
		<a class="col col-10 border-up-down" href="#">
			Untitled kit
		</a>
		<!--<div class="col col-10 border-up-down message">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed velit ut nibh elementum finibus. Donec eget nunc ut sapien mattis fermentum et et ante. Suspendisse laoreet ante non enim elementum sagittis.</p>
			<p>Aenean ut finibus felis, in cursus libero. Praesent mollis porttitor velit et semper.</p>
		</div>-->
		<a class="col col-10 ibtn-orange big-ibtn" href="#">
			{{'New experience'|trans}}
		</a>
		<a class="col col-10 ibtn-bleu big-ibtn" href="#">
			{{'Show an experience'|trans}}
		</a>
		<form class="col col-10 iform">
			<ul>
				<li><input type="text" value=""/></li>
				<li><input type="text" value=""/></li>
				<li><input type="text" value=""/></li>
			</ul>
		</form>
	</div>
	<div>
		<a href="#" title="Ajouter une émotion" class="ibtn btn-add"></a>
	</div>
	<ul class="choice-emotion row justify-content-center">
		<li class="col col-9"><a href="#" class="emotion-to-choose">épanoui</a></li>
		<li class="col col-10"><a href="#" class="choosen-emotion">joyeux</a></li>
	</ul>
	<form>
		<div class="form-group">
			<label for="date-experience">Date</label>
			<input class="form-control" type="date" id="date-experience"/>
			<label for="titre-experience">Titre</label>
			<input class="form-control type="text" id="titre-experience"/>
			<label for="description-experience">Description</label>
			<textarea class="form-control type="text" id="description-experience"></textarea>
		</div>
	</form>
	<footer>
		<a href="#" title="Menu" class="ibtn btn-menu"></a>
		<a href="#" title="Menu" class="ibtn btn-next"></a>
	</footer>
	<div class="fond-popup" style="display:none;">
		<div class="popup border-up-down">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed velit ut nibh elementum finibus. Donec eget nunc ut sapien mattis fermentum et et ante. Suspendisse laoreet ante non enim elementum sagittis.</p>
			<p>Aenean ut finibus felis, in cursus libero. Praesent mollis porttitor velit et semper.</p>
			<a href="#" title="Compris !" class="ibtn btn-validate"></a>
		</div>
	</div>
	{% endblock %}
	{% block javascripts %}
	<script type="text/javascript">
	</script>
	{% endblock %}
