<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- <meta http-equiv="Page-Enter" content="revealTrans(Duration=2.0,Transition=12)"> -->
		<!-- <meta HTTP-EQUIV="Page-Exit" CONTENT="revealtrans(duration=4.0, transition=0)"> -->
		<title>{% block title %}{% endblock %}</title>
		{% block head %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
		{% include 'assets/css/base.css' %}
		{% include 'assets/css/gabriel.css' %}
		{% include 'assets/css/yohan.css' %}
		{% include 'assets/css/seraphin.css' %}

	</head>
	<body class="fade-in">

			{% block header %}{% endblock %}
			{% block aside %}{% endblock %}
			{% block body %}{% endblock %}
			{% block footer %}{% endblock %}
			<script src="{{ asset('build/app.js') }}"></script>
			{# <script src="{{ asset('js/bootstrap.min.js') }}"></script> #}
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/jquery.redirect.js') }}"></script>
		{% block javascripts %}	{% endblock %}
		{# <div class="fond-popup" id="popup-back">
			<div class="popup">
				<a onclick="popDownBack();" class="close-popup"></a>
				<div class="col col-10">
					<p><strong>Attention !</strong> Revenir à la liste des kits te fera perdre ce qui a été commencé.</p>
				</div>
				<div class="actions-popup" id="btn-popup-back">
				</div>
			</div>
		</div> #}
	</body>
</html>
