{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		{# <div title="Retour" class="ibtn btn-back" onClick="history.back()"></div> #}
		<a title="Retour" class="ibtn btn-back" href='{{ path("skillList") }}'></a>
		<h2 class="title-competence title-secouter">{{ skill.name }}</h2>
	</nav>
</header>
<section class="content">
	<div class=" row justify-content-center">
		{% for experimentation in experimentations %}
	  		<a class="col col-10 border-up-down" href="{{ path(experimentation.pathName ~ "_0") }}">
	    		{{experimentation.name}}
	  		</a>
		{% endfor %}
		{% if experimentations|length == 0 %}
			<div class="vertical-50 col col-10 text-center">
				<img src="https://idiversity.cc/appli/visuels_integres/smiley_ronchon.svg" alt="Smiley vert" class="img-end"/>
				<div class="border-up-down">
					<p>Aucun kit n'est disponible pour cette compétence...</p>
				</div>
			</div>
		{% endif %}
	</div>
</section>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
