{% extends 'front/base.html.twig' %}

{% block body %}
<div class="container">
  <header>
    <nav>
      <div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
        <h2 class="title-competence title-secouter">S'écouter</h2>
    </nav>
  </header>
  {% for intelligence in intelligences %}
    <div class="row justify-content-center">
      <a class="col col-10 border-up-down" href="#blablabla">
        {{intelligence.name}}
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
