{% extends 'front/base.html.twig' %}

{% block body %}
<header >
	<nav class="col col-12 text-center mb-3">
		<img src="https://idiversity.cc/appli/visuels_integres/bienvenue.svg" alt="Bienvenue" />
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center pt-5">
		<p class="col col-10 pb-3 text-center">Choisissez la compétence que vous souhaitez développer.</p>
		{% for skill in skills %}
		<!-- <a class="col col-10 border-up-down" href="/web/app_dev.php/fr/experimentation?skill={{skill.name}}"> -->
			<a class="col col-10 border-up-down" href="{{ path("listKit") }}?skill={{skill.pathName}}">
				{{skill.name}}
			</a>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}
