{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav id="nav-right">
		{# <a title="Aide" class="ibtn btn-help" href="{{ path("parcours_3")}}"></a> #}
		{# <a title="Aide" class="ibtn btn-help" onclick="popUpHelp();"></a> #}
	</nav>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		<div class="vertical-50 col col-10 text-center">
			<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_1.svg" alt="Smiley vert" class="img-step"/>
			<div class="border-up-down">
				<p>Pour commencer, remémore-toi une expérience agréable que tu as vécue.</p>
				<p>Tu peux prendre le temps que tu souhaites.</p>
			</div>
		</div>
	</div>
</section>
<footer>
	<a title="Info" class="ibtn btn-infor" onclick="popUpHelp();"></a>
	<a title="Suivant" class="ibtn btn-next" href="{{ path("parcours_4")}}"></a>
</footer>
<div class="fond-popup" id="popup-help">
<a onclick="popDownHelp_2();" class="close-popup"></a>
	<div class="popup">
		<div class="msg-popup border-down">
			<p>Cette expérience agréable a peut-être eu lieu grâce à un de ces éléments.</p>
			<p>Laisse-toi guider par ce qui a pu marquer le moment...</p>
		</div>
		<div class="mosaic">
			<div class="inner-mosaic" id="inner-carousel" style="left:0%;">
				<figure class="tile-type-emo">
					<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_odeur.svg" alt="Odeur">
					<figcaption>Une odeur agréable</figcaption>
				</figure><!--
				--><figure class="tile-type-emo">
					<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_endroit.svg" alt="Endroit">
					<figcaption>Un endroit agréable</figcaption>
				</figure><!--
				--><figure class="tile-type-emo">
					<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_musique.svg" alt="Musique">
					<figcaption>Une musique sympa</figcaption>
				</figure><!--
				--><figure class="tile-type-emo">
					<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_bouquin.svg" alt="bouquin">
					<figcaption>Un bouquin chouette</figcaption>
				</figure><!--
				--><figure class="tile-type-emo">
					<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_odeur.svg" alt="Odeur">
					<figcaption>Une odeur agréable</figcaption>
				</figure>
			</div>
			<a class="btn-mosaic-previous" onclick="mosaicPrevious()" id="bt-mosaic-previous" ></a>
			<a class="btn-mosaic-next"onclick="mosaicNext()" id="bt-mosaic-next"></a>
		</div>
{#
		<ul class="type-emotion">
			<li class="type-nose">Une odeur agréable</li>
			<li class="type-eye">Un endroit particulier</li>
			<li class="type-music">Une musique sympa</li>
			<li class="type-book">Un bouquin chouette</li>
		</ul> #}
	</div>
</div>
{% endblock %}

{% block javascripts %}
{% include 'assets/js/manageListEmo.js' %}
  <script type="text/javascript">
  function popDownHelp_2()
  {
	  $('#popup-help').hide('fast');
  }

  function mosaicNext()
  {
	  	var btNext = document.getElementById('bt-mosaic-next');
  		btNext.setAttribute("onclick", "");
		var btPrevious = document.getElementById('bt-mosaic-previous');
		btPrevious.setAttribute("onclick", "");
		var innerMosaic = document.getElementById("inner-carousel");
		var leftVal = innerMosaic.style.left;
		leftVal = Number(leftVal.replace(/([0-9]{1,4})[^0-9]*/,'$1'));
		if(leftVal == -400)
		{
			innerMosaic.style.left="0%";
		}
		leftVal = innerMosaic.style.left;
		leftVal = Number(leftVal.replace(/([0-9]{1,4})[^0-9]*/,'$1'));
		shiftLeft(innerMosaic,leftVal,leftVal-100);
  }

  function mosaicPrevious()
  {
	  var btNext = document.getElementById('bt-mosaic-next');
	  btNext.setAttribute("onclick", "");
	  var btPrevious = document.getElementById('bt-mosaic-previous');
  	  btPrevious.setAttribute("onclick", "");
  	  var innerMosaic = document.getElementById("inner-carousel");
  	  var leftVal = innerMosaic.style.left;
  	  leftVal = Number(leftVal.replace(/([0-9]{1,4})[^0-9]*/,'$1'));
  	  if(leftVal == 0)
  	  {
  		  innerMosaic.style.left="-400%";
  	  }
  	  leftVal = innerMosaic.style.left;
  	  leftVal = Number(leftVal.replace(/([0-9]{1,4})[^0-9]*/,'$1'));
  	  shiftLeft(innerMosaic,leftVal,leftVal+100);
  }

  function shiftLeft(elt,from,to)
  {
		var btPrev = document.getElementById('bt-mosaic-previous');
		var leftVal=from;
		var id = setInterval(frame,10);
		function frame()
		{
			if(leftVal==to)
			{
				clearInterval(id);
				document.getElementById('bt-mosaic-next').setAttribute("onclick","mosaicNext()")
				document.getElementById('bt-mosaic-previous').setAttribute("onclick","mosaicPrevious()")
			}
			else
			{
				console.log(leftVal);
				leftVal=leftVal+(to-from)/50;
				elt.style.left=leftVal + '%';
			}
		}
  }
  </script>
{% endblock %}
