{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("parcours_0") }}'></a> -->
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		<div class="col col-10 text-center">
			<img src="https://idiversity.cc/appli/visuels_integres/smiley_positif.svg" alt="Smiley vert" class="img-end"/>
			<div class="border-up-down">
				<p>Tu as maintenant fini cette expérimentation. Merci pour ton implication !</p>
				<p>Tu peux retrouver ton expérience et la consulter quand tu le souhaites dans la rubriquer "consulter" en début d'expérimentation.</p>
			</div>
		</div>
	</div>
</section>
<footer>
		<a href="{{ path("parcours_0")}}" title="Suivant" class="ibtn btn-next"></a>
</footer>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
