{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("parcours_0") }}'></a> -->
		<h2 class="title-competence title-green-smiley">Expériences agréables</h2>
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		{# <div class="vertical-50"> #}
		  {# <div class="row justify-content-center mt-2"> #}
		    <div class="col col-10 border-up-down text-justify" href="#">
		      <p class="mb-3">
		        Tu trouveras ici, les expériences agréables ainsi que leurs émotions / sensations positives que tu auras sauvegardées.
		      </p>
		      <p>
		        Tu peux commencer dès maintenant à en créer en cliquant sur le bouton ci-dessous.
		      </p>
		    </div>
		    <a class="col col-10 ibtn-orange big-ibtn mt-5 mb-2"  href="{{ path("parcours_2") }}">
		      {{'New experience'|trans}}
		    </a>
		  {# </div> #}
		{# </div> #}
	</div>
</section>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
