{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("parcours_0") }}'></a> -->
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		<div class="vertical-50 col col-10 text-center">
			<img src="https://idiversity.cc/appli/visuels_integres/image_parcours_2.svg" alt="Smiley vert" class="img-step"/>
			<div class="border-up-down">
				<p>Une fois cette expérience remémorée, écris les émotions et les sensations positives liées à celle-ci.</p>
			</div>
		</div>
	</div>
</section>
<footer>
		<a title="Suivant" class="ibtn btn-next" href="{{ path("parcours_5")}}"></a>
</footer>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  </script>
{% endblock %}
