{% extends 'front/base.html.twig' %}

{% block body %}

<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a class="ibtn btn-back" href="{{ path("parcours_0") }}" onclick="popUpBack(this);"></a> -->
	</nav>
	<nav id="nav-right">
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		<p class="border-down col col-10 mb-4">Quelles sont vos émotions ?</p>
		<form class="col col-11" id="form-list-emo">
			{% for i in 0..2 %}
				<div class="row mb-3" id="adj_{{i}}">
					<input class="col col-10 inputCount" type="text" value=""/>
					<div onclick="removeContent('adj_{{i}}')" title="Supprimer" class="col col-2 rm-emo btn-close"></div>
				</div>
			{% endfor %}
		</form>
		<a href="#" title="Ajouter une émotion" class="ibtn-add btn-add mt-3" onclick="addEmo();" id="btn-add-emo"></a>
	</div>
</section>
<footer>
	<a onclick="popUpHelp()" title="Aide" class="ibtn btn-help"></a>
	<a onclick="CMD.next()" title="Valider" class="ibtn btn-validate" ></a>
</footer>
<div class="fond-popup" id="popup-help">
<a onclick="popDownHelpClose();" class="close-popup"></a>
	<div class="popup">
		<div class="msg-popup border-down">
			<p>Si tu as besoin d'aide, tu peux t'aier des propositions suivantes.</p>
			<p>N'hésite pas à rafraichir si celles-ci ne te conviennent pas.</p>
		</div>
		<form id="form-popup" class="choice-emotion">
		</form>
		<div class="actions-popup">
			<a  onclick="popUpHelp()" title="Valider" class="ibtn btn-refresh" id="btnSpin"></a>
			<a  onclick="popDownHelp()" title="Valider" class="ibtn btn-validate"></a>
		</div>
	</div>
</div>
<div class="fond-popup" id="popup-timer">
<a onclick="popDownTimer();" class="close-popup"></a>
	<div class="popup">
		<div class="msg-popup border-down">
			<p>Si tu penses avoir trouvé l'ensemble de tes émotions/sensations positives, n'hésite pas à passer à la suite.</p>
			<p>Tu en trouveras peut-être plus tard que tu pourras ajouter !</p>
		</div>
		<div class="actions-popup">
			<a  onclick="popDownTimer()" title="Valider" class="ibtn btn-validate"></a>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{% include 'assets/js/manageListEmo.js' %}
	<script>
	var nbInput = 0;
	var height=0;

	window.onload = function()
	{
		nbInput = $('.inputCount').length;
		height = window.innerHeight;
	};

	window.onresize = function()
	{
		if(window.innerHeight<height)
			$('footer').hide();
		else
			$('footer').show();
	};
	</script>
{% endblock %}
