{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a class="ibtn btn-back" href="{{ path("parcours_0") }}"></a> -->
	</nav>
</header>
<section class="content">
  <div class="row justify-content-center">
	  <div class="col col-10 border-down text-left">
		  Afin de retrouver cette expérience agréable, créé lui une fiche d'identité et sauvegarde la.
	  </div>
	  <form class="col col-10">
		  <div class="mt-3 row">
				<label for="date-experience" class="col col-3 font-label">Date</label>
				<input class="col col-9" type="date" id="date-experience" onchange="$('#date-experience').removeClass('invalid-form')"/>
		  </div>
		  <div class="mt-3 row">
				<label class="col col-3 font-label" for="titre-experience">Titre</label>
				<input class="col col-9" type="text" id="titre-experience" onchange="$('#titre-experience').removeClass('invalid-form')"/>
		  </div>
		  <div class="row mt-3 mb-5">
			  <label for="description-experience" class="font-label">Description</label>
			  <textarea id="description-experience"></textarea>
			  <div id="adjective" class="hide">
				  {% for input in data %}
				  	<input class="hide" type="text" value="{{ input }}"/>
				  {% endfor %}
			  </div>
		  </div>
	  </form>
  </div>
</section>
<footer>
	<a onclick="CMD.next()" title="Menu" class="ibtn btn-validate"></a>
</footer>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

	var height=window.innerHeight;

		window.onload = function()
		{
			height = window.innerHeight;
		};

		window.onresize = function()
		{
			if(window.innerHeight<height)
				$('footer').hide();
			else
				$('footer').show();
		};

	var CMD = {
		next: function() {
			var arr = [];
			var adjective = $('#adjective');
			for(var i = 0; i < adjective[0].children.length; i++) {
				arr.push(adjective[0].children[i].value);
			}
			arr['date'] = $('#date-experience').val();
			arr['title'] = $('#titre-experience').val();
			arr['description'] = $('#description-experience').val();

			if (arr['date'] == ""){
				$('#date-experience').addClass('invalid-form');
			}
			else if (arr['title'] == ""){
				$('#titre-experience').addClass('invalid-form');
			}
			else if(arr['date'] != "" && arr['title'] != "") {
				url_redirect({url: '{{ path("parcours_8") }}',
				method: "POST",
				data: arr
				});
			}
		}
	}
	</script>
{% endblock %}
