{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a title="Retour" class="ibtn btn-back" href='{{ path("parcours_0") }}'></a> -->
		<h2 class="title-competence title-green-smiley">Expériences agréables</h2>
	</nav>
</header>
<section class="content">
	<div class="row justify-content-center">
		{% for experience in experiences %}
		<a class="col col-10 border-up-down" href="{{ path("parcours_11")}}?ex={{experience.id}}">
			{{experience.title}}
		</a>
		{% endfor %}
	</div>
</section>
<footer>
</footer>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}
