{% extends 'front/base.html.twig' %}

{% block body %}
<header>
	<nav>
		<div title="Retour" class="ibtn btn-back" onClick="history.back()"></div>
		<!-- <a class="ibtn btn-back" href='{{ path("parcours_10") }}'></a> -->
	</nav>
	<nav id="nav-right">
		<a class="ibtn btn-edit" id="btn-mode" title='Editer la page' onclick="edit_mode();" id="enterEdit"></a>
		<a class="ibtn btn-close" title='Quitter le mode édition' onclick="leave_edit_mode();" id='leaveEdit'></a>
	</nav>
	<div class="title">
	</div>
</header>
<section class="content" id="view-mode">
	<div class="col col-12 row ">
		<span class="font-label col col-2 mb-2">Date</span>
		<span class="col col-3 font-input" value="{{experience.date|date("Y-m-d")}}" id="viewDate">{{experience.date|date("d/m/Y")}}</span>
	</div>
	<div class="col col-12 font-title mb-3" id="viewTitle">{{experience.title}}</div>
	<div class="col col-12 border-up-down description-area truncate" id="description-block">
				<p>{{experience.description}}</p>
	</div>

	<div class="col col-12 mt-2">
		<span class="font-title mt-2">Tes émotions/sensations positives :</span>
		<ul class="view-emo mt-1" id="viewEmo">
			{% for emotion in emotions %}
			<li class="listAdj">
				{{emotion}}
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section class="content" id="edit-mode">
	<div class="row justify-content-center">
		<form class="col col-11 inline-block">
	  		  <div class="mt-3 row">
	  				<label for="date-experience" class="col col-3 font-label">Date</label>
	  				<input class="col col-9" type="date" id="date-experience" onchange="$('#date-experience').removeClass('invalid-form')"/>
	  		  </div>
			  <div class="mt-3 row">
					<label class="col col-3 font-label" for="titre-experience">Titre</label>
					<input class="col col-9" type="text" id="titre-experience" onchange="$('#titre-experience').removeClass('invalid-form')"/>
			  </div>
			  <div class="row mt-3">
				<label class="font-label" for="description-experience">Description</label>
				<textarea class="col col-12" type="text" id="description-experience"></textarea>
			  </div>
		</form>
		<label class="font-label" style="padding:0 !important;">Emotions/sensations positives</label>
		<form class="col col-11" id="form-list-emo"></form>
		<div class="col col-12 mt-2">
			<a onclick="addEmo()" title="Ajouter une émotion" class="ibtn-add btn-add" id="btn-add-emo"></a>
		</div>
	</div>
</section>
<footer>
	<a onclick="popUpHelp()" title="Aide" class="ibtn btn-help" id="helpEdit"></a>
	{# <a href="{{ path("skillList")}}" title="Menu" class="ibtn btn-menu" id="btn-list-skill"></a> #}
</footer>

<div class="fond-popup" id="popup-help">
<a onclick="popDownHelpClose();" class="close-popup"></a>
	<div class="popup">
		<div class="msg-popup border-down">
			<p>Si tu as besoin d'aide, tu peux t'aier des propositions suivantes.</p>
			<p>N'hésite pas à rafraichir si celles-ci ne te conviennent pas.</p>
		</div>
		<form id="form-popup" class="choice-emotion">
		</form>
		<div class="actions-popup">
			<a  onclick="popUpHelp()" title="Valider" class="ibtn btn-refresh" id="btnSpin"></a>
			<a  onclick="popDownHelp()" title="Valider" class="ibtn btn-validate"></a>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{% include 'assets/js/manageListEmo.js' %}
	<script type="text/javascript">
	var nbInput = $('.inputCount').length;
	var height=window.innerHeight;

	window.onload = function()
	{
		$("#leaveEdit").hide();
		$("#helpEdit").hide();
		nbInput = $('.inputCount').length;
		height = window.innerHeight;
	};

	window.onresize = function()
	{
		if(window.innerHeight<height)
			$('footer').hide();
		else
			$('footer').show();
	};


	console.log($('#description-block')[0].innerText);
	function edit_mode()
	{
		/* Complete view */
		$('#date-experience').val($('#viewDate')[0].attributes.value.value);
		$('#titre-experience').val($('#viewTitle')[0].innerText);
		$('#description-experience').val($('#description-block')[0].innerText);

		var list = '';
		for (var i = 0; i < $('#viewEmo')[0].children.length; i++) {
			list += '<div class="row mb-3" id="adj_' + i + '">\
						<input class="col col-10 inputCount" type="text" value="' + $('#viewEmo')[0].children[i].textContent.trim() + '"/>\
						<div onclick="removeContent(\'adj_' + i + '\')" title="Supprimer" class="col col-2 rm-emo btn-close"></div>\
					</div>'
		}
		$('#form-list-emo').html(list);



		/* Toggle view */
		$('.btn-back').hide('fast');
		$('#view-mode').hide('fast');
		$('#edit-mode').show();
		$('#btn-list-skill').hide('fast');
		$("#btn-mode").removeClass().addClass('ibtn btn-validate');
		$("#btn-mode").attr('onclick','validate_form({{id}});');
		$("#leaveEdit").show('fast');
		$("#helpEdit").show('fast');
	}

	function leave_edit_mode()
	{
		$('.btn-back').show('fast');
		$('#view-mode').show('fast');
		$('#edit-mode').hide();
		$('#btn-list-skill').show('fast');
		$("#btn-mode").removeClass().addClass('ibtn btn-edit');
		$("#btn-mode").attr('onclick','edit_mode();');
		$("#leaveEdit").hide('fast');
		$("#helpEdit").hide('fast');
	}

	function validate_form(id)
	{
		var date = $('#date-experience').val();
		var title = $('#titre-experience').val();
		var description = $('#description-experience').val();
		var list = $('#form-list-emo')[0].children;
		// console.log(list);
		var arr = [];
		for(var i = 0; i < list.length; i++) {
			if(list[i].children[0].value !== "") {
				arr.push(list[i].children[0].value);
			}
		}
		if (date == ""){
			$('#date-experience').addClass('invalid-form');
		}
		else if (title == ""){
			$('#titre-experience').addClass('invalid-form');
		}
		else {
			var length = arr['length'];
			$.ajax({
				url: "{{ path('saveModification')}}",
				data : {id, arr, description, title, date},
				dataType : 'HTML',
				method: "POST",
				beforeSend: function( xhr ) {
					xhr.overrideMimeType( "text/plain; charset=UTF-8" );
				},
			})
			.done(function(data) {
				// console.log('data : ');
				// console.log(data);
				// console.log('date : ');
				// console.log(date);

				$('#viewDate')[0].attributes.value.value = date;
				$('#viewTitle')[0].innerText = title;
				$('#description-block')[0].innerText = description;

				date = date.replace(/([0-9]{4})-([0-9]{2})-([0-9]{2})/,'$3/$2/$1')
				$('#viewDate').html(date);
				$('#viewTitle').html(title);
				$('#description-block').html(description);
				$('#description-block').ready(moreLess);
				var emo = '';
				for (var i = 0; i < length; i++) {
					emo += '	<li class="listAdj">'+arr[i]+'</li>'
				}
				$("#viewEmo").html(emo);
				// console.log('done : ');
				// console.log(emo);
				$('.btn-back').show('fast');
				$('#view-mode').show('fast');
				$('#edit-mode').hide();
				$('#btn-list-skill').show('fast');
				$("#btn-mode").removeClass().addClass('ibtn btn-edit');
				$("#btn-mode").attr('onclick','edit_mode();');
				$("#leaveEdit").hide('fast');
				$("#helpEdit").hide('fast');
			})
			.fail(function(xhr, textStatus, errorThrown) {
				console.log(xhr.responseText);
			});
		}
	}

	function view_mode()
	{
		$('#edit-mode').hide();
		$('#view-mode').show();
		document.getElementById("btn-mode").onclick='edit_mode();'
	}

	function moreLess() {
		(function() {
		var showChar = 200;
		var ellipsestext = "...";

		$(".truncate").each(function() {
		  var content = $(this).html();
		  if (content.length > showChar) {
			var c = content.substr(0, showChar);
			var h = content;
			var html =
			  '<div class="truncate-text" style="display:block">' +
			  c +
			  '<span class="moreellipses">' +
			  ellipsestext +
			  '&nbsp;&nbsp;<a href="" class="moreless more"> voir plus</a></span></span></div><div class="truncate-text" style="display:none">' +
			  h +
			  '<a href="" class="moreless less"> Voir moins</a></span></div>';

			$(this).html(html);
		  }
		});

		$(".moreless").click(function() {
		  var thisEl = $(this);
		  var cT = thisEl.closest(".truncate-text");
		  var tX = ".truncate-text";

		  if (thisEl.hasClass("less")) {
			cT.prev(tX).toggle();
			cT.slideToggle();
		  } else {
			cT.toggle();
			cT.next(tX).fadeToggle();
		  }
		  return false;
		});
		/* end iffe */
	})();

		/* end ready */
		}

	$('#description-block').ready(moreLess);
	</script>
{% endblock %}
